<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Zone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="d-flex flex-row">
            <h1>
                <a href="/">Game Zone</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href="/dashboard">dashboard</a>
                <button id="logout" class="btn-no-style">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>
{{!-- <form method="POST" action="/profile-upload-single" enctype="multipart/form-data">
    <div>
        <label>Upload profile picture</label>
        <input type="file" name="profile-file" required />
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>

<hr> --}}

{{!-- <form method="POST" action="/profile-upload-multiple" enctype="multipart/form-data">
    <div>
        <label>Upload multiple profile picture</label>
        <input type="file" name="profile-files" required multiple />
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form> --}}


{{!--
<!--On page search-->

<!DOCTYPE html>
<html>
<meta charset="utf-8">
<script src="https://www.w3schools.com/lib/w3.js"></script>

<body>

    <h2>Filter List</h2>

    <p>Search for a name in the input field:</p>
    <!--Input Filed that searches through the following li for matchtching text-->
    <input oninput="w3.filterHTML('#id01', 'li', this.value)" placeholder="Search for names..">

    <!--Essentially we will need to import each Title or Post into this list up to you guys!-->
    <ul id="id01">
        <li>Some text to search</li>
        <li>Some other text to search</li>
    </ul>

</body>

</html> --}}