<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    {{!-- <form method="POST" action="/profile-upload-single" enctype="multipart/form-data">
      <div>
        <label>Upload profile picture</label>
        <img src="{{img_url}}" id="img-preview" />
        <input type="file" accept="image/*" onchange="loadFile(event)" name="profile-file" id="choose-file" Required />
        <div>
          <input type="submit" value="Upload" id="upload"/>
        </div>
    </form> --}}
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>