<div class="container">
    <div class="title text-center">
        <h2>Community Games</h2>
        <p> visit, comment, and vote on games made by your peers</p>
    </div>
    <div class="row card-deck">
        {{#each posts as |post|}}
        <div class="col-l-3 col-m-4">
            <div class="card text-center">
                <img src="{{img_url}}" class="card-img-top" />
                {{> post-info post}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
