<<<<<<< HEAD
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
=======
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: black;
  background-image: url("https://wallpapercave.com/wp/wp9391637.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* Some of Jenns CSS */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

main {
    padding: 2rem;
}
header {
    justify-content: space-between;
    align-items: center;
}

header a {
margin:3rem;
font-family: "Press Start 2P";
color:#f2f2f2; 
font-size: 2vw;
text-decoration: none;
}

nav {
    display: inline-flex;
    margin: 10px 20px 10px;
    align-items: center;
}
.dashboard-icon{
    margin-top: 70px;
}

.title h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color:white; 
}
.title p{
    color:#ada9a9;
}

.card {
margin: 2rem;
border-color: white;
border-width: 2px;
box-shadow: 0px 0px 8px 2px deepskyblue;
background-color: black;
width: 15rem;
height: 20rem;
}

.card-body{
    height:50%;
    padding: 8px 16px;
    font-weight: bold;
    color: rgb(121, 118, 118);
}

.card img {
    height: 50%;
    width: 100%;

}
.card-title{
    color: deepskyblue;
    font-size: 18px;
}

.card-title a{
    text-decoration: none !important;
}

.user{
    color: white;
}
.point-total{
    color: #5e17eb;
}
.comment-total{
    color: deepskyblue;
}
.post-list {
    list-style: none;
}
.post-details{
    background-color: rgba(255,255,255,.75);
    padding: 1rem;
    border: solid 2px deepskyblue;
    border-radius: 4px;
    width:90%;
    margin: auto;
}
.post-details-small{
    background-color: rgba(255,255,255,.75);
    padding: 3px;
    border: solid 2px deepskyblue;
    border-radius: 4px;
    width:90%;
    margin: auto;
    height: 20vh;
}
.small-container{
    height: 100%;
    margin:auto;
}
.display-img{
    height: 100%;
    width:100%
}

.details-title{
    color:deepskyblue;
    font-weight: bold;
    font-size: 4vw;
}
.details-text{
    font-size: 2vw;
    color: rgb(88, 88, 88);
    margin: auto;
}
.details-title-small{
    color:deepskyblue;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}
.details-text-small{
    font-size: 14px;
    color: rgb(88, 88, 88);
    margin: auto;
}
.details-author{
    font-weight: bold;
    color: rgb(153, 152, 152);
    margin-top: 14px;
}
.details-user{
    font-size: 16px;
    color: black;
}
.details-author-small{
    font-size: 10px;
    font-weight: bold;
    color: rgb(68, 66, 66);
    margin-top: auto
}
.details-small-counts{
    font-size: 10px;
    margin: auto;
}
.dashboard-title{
    margin:auto;
    padding: 10px;
    color: deepskyblue;
    font-weight: bold;
    font-size: 26px;
   margin-bottom: 10px;
   border-bottom: solid 2px #5e17eb;
}
.comment-heading{
    margin:auto;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 26px;
   margin-top: 25px;
   border-top: solid 3px #5e17eb
}

.comment-form label,
.edit-post-form label,
.new-post-form label{
    color: white;
    font-weight: bold;
    margin: 10px;
}

.new-post-form input{
    width:100%;
}
.title-input{
    width:100%;
}
.btn{
    color:white;
    font-size: 20px;
    background-color: #5e17eb;
    border-radius: 1vw;
    border: none;
    padding: 1rem;
    cursor: pointer;
    margin-top: 20px;
}
.btn:hover {
    color: white;
    box-shadow: 0px 0px 8px 2px deepskyblue;
    }
.delete-post-btn{
    color:white;
    font-size: 20px;
    background-color:rgb(245, 153, 49);
    border-radius: 1vw;
    border: none;
    padding: 1rem;
    cursor: pointer;
    margin-top: 20px;
    }
.delete-post-btn:hover {
    box-shadow: 0px 0px 8px 2px red;
}
.save-image{
    margin-right: auto;
}
.edit-link{
    color: white;
    font-size: 12px;
    background-color: #5e17eb;
    border-radius: 1vw;
    border: none;
    padding: 3px;
    cursor: pointer;
    margin: 15px;
    margin-top: 10px;
    text-decoration: none;
}
.edit-link:hover {
    color: white;
    box-shadow: 0px 0px 8px 2px deepskyblue;
    }

.text-area{
    width:80%;
    margin: auto;
    margin-top: 20px;
}
.button-holder{
    width:100%;
    margin-top: 10px;
}
.comment-btn{
    color: white;
    font-size: 20px;
    height: 30%;
    background-color: #5e17eb;
    border-radius: 1vw;
    border: none;
    padding: 1rem;
    cursor: pointer;
}
.upvote-btn{
    color: white;
    font-size: 20px;
    height: 30%;
    background-color:deepskyblue;
    border-radius: 1vw;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.comment {
    background: rgba(3, 3, 51, 0.75);
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    border: solid 2px deepskyblue;
    border-radius: 4px;
    width:80%;
}
.comment-title {
    color: #5e17eb;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;

}
.comment-text {
    color: white;
}
.name {
    color: deepskyblue
}
.example{
    height: 30vh;
}
.upload-container{
    color: white;
    background: rgba(3, 3, 51, 0.75);
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    border: solid 2px deepskyblue;
    border-radius: 4px;
    width:80%;
}
.start-img{
height: 50vh;
}
.form-block{
    margin:auto;
}
.status{
  font-weight: bold;
  color: #5e17eb;
  margin: 2px;
}
.format-fix{
   margin-left:70px;
}
.format-cheat{
    margin-top: 20px;
}

/* end of Jenns CSS */

h1 {
  font-size: 3rem;
  font-family: "Press Start 2P";
  color: white;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.5s;
}

h1:hover {
  background: #5e17eb;
  color: white;
  box-shadow: 0 0 5px #5e17eb, 0 0 25px #5e17eb, 0 0 50px #5e17eb,
    0 0 200px #5e17eb;
}

.wrapper {
  max-width: 390px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.wrapper .title-text {
  display: flex;
  width: 200%;
}

.wrapper .title-text .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

.form-container .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  margin: 30px 0 10px 0;
  overflow: hidden;
  border-radius: 5px;
  justify-content: space-between;
  border: 1px solid lightgrey;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.6 ease;
}

.slide-controls .slide {
  height: 100%;
  width: 100%;
  z-index: 1;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.slide-controls .signup {
  color: black;
}

.slide-controls .slide-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: yellowgreen;
}

input[type="radio"] {
  display: none;
}

#signup:checked ~ .slide-tab {
  left: 50%;
}

#signup:checked ~ .signup {
  color: white;
}
#signup:checked ~ .login {
  color: black;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  transition: all 0.4 ease;
}

.form-inner form .field input:focus {
  border-color: #fc83bb;
}

.form-inner form .pass-link {
  margin-top: 5px;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #fa4299;
  text-decoration: none;
}

.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}

form .field input[type="submit"] {
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 0px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: #5e17eb;
}

>>>>>>> 21ab0f895d0c9453eca4ea3be76691e281c49b6c
